/*
Flexbox
*/

.flex-container{
    background-color: tomato;
    padding: .5em;
    display: flex;/*Convertir al elemento en bloque*/
    /*display: inline-flex;/*Contenedor de tipo linea*/
    /*flex-direction: row;/*Propiedad por defecto*/
    /*flex-direction: row-reverse;*/
    /*flex-direction: column;Opcion por defecto del eje vertical*/
    /*flex-direction: column-reverse;*/
    /*Propiedad wrap*/
    /*flex-wrap: nowrap;/*Opcion por defecto*/
    flex-wrap: wrap;/*Opcion para dar saltos de linea en caso de ser necesario*/
    /*flex-wrap: wrap-reverse;*/

}

.flex-item{
    width: 30px;
    height: 30px;
    margin: .5em;
    background: steelblue;
    line-height: 30px;
    text-align: center;
    color: white;
}




